.boxa {
    width: 300px;
    height: 200px;
    padding: 20px;
    background-color: brown;
    border: 10px black dashed;
    margin: 20px;
    box-sizing: border-box;
}
.boxb {
    width: 300px;
    height: 200px;
    padding: 80px;
    background-color: rgb(34, 216, 92);
    border: 20px black dashed;
    margin: 20px;
    box-sizing: border-box;

}